<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Landing page / Welcome page-->
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
    <!-- Servlet Declaration -->
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>com.servlets.GenericServletExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>com.servlets.HttpServletExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forth</servlet-name>
        <servlet-class>com.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>com.servlets.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>com.attr.s1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>com.attr.s2</servlet-class>
    </servlet>
    <!--mapping-->
    <servlet>
        <servlet-name>Servlet1Problem</servlet-name>
        <servlet-class>com.session_track.Servlet1Problem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2Problem</servlet-name>
        <servlet-class>com.session_track.Servlet2Problem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/generic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/httpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forth</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1Problem</servlet-name>
        <url-pattern>/Servlet1Problem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2Problem</servlet-name>
        <url-pattern>/Servlet2Problem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
